<html>
    <head>
    <title>WEB APP</title>
    </head>
    <link rel="stylesheet" type="text/css" href="./static/css/main.css"/>
    <body>
        <div class="help">
            <h1>Covid19-Xray Image Predictor</h1>
            <form id="upload-file" method="POST" enctype="multipart/form-data">
                <label for="imageUpload" class="upload-label">
                    <h1> Choose...</h1>
                </label>
                <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg"/>
                <input type="submit" value="Predict"/>
            </form>
        </div>
    </body>
</html>
        